# Database (MySQL)
DATABASE_URL="mysql://root:password@127.0.0.1:3306/fortify_crm"

# Auth
NEXTAUTH_SECRET="yoursecret"
NEXTAUTH_URL="http://localhost:3000"

# AI
OPENAI_API_KEY="sk-..."

# App Settings
NEXT_PUBLIC_APP_NAME="RealEstateFortify"
